.biddingcover{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: fit-content;
    background: white;
    margin: 10px auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.biddetails{    
    width: 50%;
    height: 100%;
    text-align: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bidimg{
    width: 80%;
    height: 300px;
    margin: 20px auto;
}

.bidname{
    margin: 5px auto;
    font-weight: bold;
    font-size: 1.3em;
}

.bidlive{
    margin: 5px auto;
    margin-bottom: 20px;
    background: rgba(247, 220, 86, 0.85);
    width: 70%;
    padding: 15px 50px;
    font-weight: bold;
    border-radius: 5px;
}
.mobilebidlive{
    display: none;
}
.bidbase{
    width: 90%;
    margin: 10px;
    text-align: left;
}
.bidbrand{
    background: rgb(216, 234, 243);
    width: fit-content;
    padding: 7px 15px;
    font-size: .7em;
    border-radius: 15px;
}
.bidentry{
    width: 50%;
    padding: auto;
    margin: auto;
}
.bidentrytitle{
    display: block;
    width: fit-content;
    margin: 20px auto;
}
.entrytitle{
    font-weight: bold;
    font-size: 2.3em;
    margin-top: 20px;
    text-align: center;
}
.entrycardlabel{
    margin: 10px auto;
}
.userbidcard{
    width: 80%;
    margin: 80px  auto;
}
.bidinp{
    font-size: 2em;
    width: 90%;
    padding: 10px;
}

.userbidbtn{
    margin: 50px auto;
    font-size: 1.3em;
    font-family: 'MontserratBold';
    background: rgba(247, 220, 86, 0.85);
    width: fit-content;
    padding: 15px 40px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.bidauctiontimer{
    margin-bottom: 30px;
}
.viewbidentry{
    display: block;
}
.leavebidentry{
    display: none;
}
@media screen and (max-width: 700px) {
    .leavebidentry{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 2em;
        cursor: pointer;
    }
    .biddingcover{
        margin: 20px auto;
    }
    .biddetails{
        width: 100%;
        margin: auto;
    }
    .bidentry{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background: rgba(199, 199, 162, 0.95);
        padding-top: 50px;
    }
    .bidmain{
        /* height: 85vh; */
        margin-top: 100px;
        background: white;
    }
    .bidimg{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .bidlive{
        width: 70%;
        margin-bottom: 15px;
    }
    .mobilebidlive{
        display: block;
        margin: 15px auto;
        margin-bottom: 20px;
        background: rgba(247, 220, 86, 0.85);
        width: fit-content;
        font-family: 'MontserratBold';
        padding: 15px 30px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }
    .viewbidentry{
        display: none;
    }
    .bidinp{
        padding: 10px;
        /* margin: auto; */
        
    }
    .userbidbtn{
        margin-top: 70px;
        width: 75%;
    }
    .bidverifymsg{
        width: 80%;
        font-size: 1.2em
    }
    .bidmain{
        /* padding-top: 0px; */
    }
}