.navcontainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    background: rgba(247, 220, 86, 0.9);
}

.navicon, .menuicon{
    display: none;
}
.navigators{
    display: block;
}
.navlogo{
    margin: 20px 50px;
}
.logo{
    height: 50px;
    cursor: pointer;
}

.navcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    width: 70%;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.navbar > li{
    width: fit-content;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: .9em;
    font-weight: 500;
    cursor: pointer;
    margin: auto 10px;
}

.navbar > li:hover{
    font-weight: bold;
}
.navbar > li:after{
    display: block;
    content: '';
    width: 10%;
    transition: width .4s ease-in-out;
    margin: auto;
    margin-top: 8px;
}
.navbar > li.selected{
    font-weight: bold;
}
.navbar > li.selected:after {
    display: block;
    margin: 3px auto;
    width: 100%;
    border: solid black 1.3px;
    background: black;
}

.navend{
    display: inline-flex;
    height: fit-content;
    margin: auto;
}
.profilelink{
    display: flex;
    justify-content: space-between;
    width: 140px;
}
.userprofilelink{
    width: 160px;
}
.bids{
    margin:auto 10px;
    font-weight: 400;
    cursor: pointer;
}
.usericon{
    display: flex;
    font-size: 1.3em;
    margin: auto;
    cursor: pointer;
}
.navoptions{
    display: block;
}
.visitview{
    display: flex;
    flex-wrap: wrap;
}
.navlogin{
    color:rgb(30, 29, 29);
    font-weight: bold;
    cursor:pointer;
    margin: auto 20px;
    font-family: 'MontserratBold';
}
.navsignup{
    color:rgb(68, 64, 64);
    font-weight: bold;
    font-family: 'MontserratBold';
    cursor:pointer;
    padding: 10px 15px;
    background: rgba(243, 243, 242, 0.8);
    border-radius: 10px;
}
.profilevisit{
    color:rgb(68, 64, 64);
    font-weight: bold;
    font-family: 'MontserratBold';
    cursor:pointer;
    margin: auto 10px;
    padding: 10px 15px;
    background: rgba(243, 243, 242, 0.8);
    border-radius: 10px;
}
.dropdown{
    position: absolute;
    top: 85px;
    display: block;
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
    padding-top: 20px;
    border-radius: 10px;
    width:200px;
    z-index: 5;
}

.dropdown > div{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    cursor: pointer;
    height: fit-content;
}
.dropicon{
    font-weight: bold;
    margin: auto;
    font-size: 1.2em;
    margin-right: 20px;
    margin-left: 0px;
    color: rgb(183, 125, 18);
}
.droplabel{
    font-size: 1em;
}
.dropdown > div:hover .dropicon{
    color: black;
}
.dropdown > div:hover .droplabel{
    border-bottom: solid black 1.5px;
}
.dropdown > div.logout{
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(228, 100, 15);
}
.extnavigators{
    display: none;
}
.navlogout{
    display: none;
    width: fit-content;
    /* margin-top: 50px; */
    margin: auto;
    
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(228, 100, 15);
}
.extbidnotify{
    display: none;
}
@media screen and (max-width: 700px) {

    .navcontainer{
        display: flex;
        background: rgba(247, 220, 86, 0.95);
    }
    .navsubbody{
        display: block;
        width: 100%;
    }
    .navigators{
        display: none;
    }
    
    .navmenu{
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 20px auto;
        z-index: 5;
    }
    .navlogo{
        margin: auto 0;
    }
    .menuicon{
        display: block;
        font-size: 2.7em;
        cursor: pointer;
    }
    .navicon{
        display: block;
        font-size: 2.7em;
        cursor: pointer;
        margin: auto 15px;
    }
    .navoptions{
        display: none;
    }
    /* .navcon::before{
        position: absolute;
        display: block;
        content: '';
        width: 90%;
        height: 300px;
        background: rgba(247, 220, 86, 1);
        opacity: 0;
        transition: opacity .7s ease-in-out;
    } */
    .navcon{
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 0;
        opacity: 1;
        transition: margin-top 1s ease-in-out, opacity .7s ease-in-out;
    }
    /* .mobilenav::before{
        opacity: 1;
    } */
    .mobilenav{
        opacity: 0;
        margin-top: -450px;
    }
    .navbar {
        display: block;
        width: 60%;

    }
    .navbar > li{
        margin: 20px auto;
    } 
    .navlogout{
        display: block;
    }
    .navend{
        margin: 20px auto;
        display: block;
    }
    .navend:after{
        display: block;
        content: '';
        width: 100%;
        /* border: solid black 1px; */
    }
    .visitview{
        display: block;
    }
    .navsignup{
        margin: 15px auto;
        z-index: 7;
    }
    
    .profilelink{
        margin: 15px auto;
        width: 160px;
    }
    .userprofilelink{
        width: 160px;
    }
    .extnavigators{     
        display: flex;
        width: 90%;
        margin: 20px auto;
        margin-top: 30px;
        margin-left: auto;
    }
    .backbtn{
        width: fit-content;
        margin: auto 0px;
        font-size: 1.5em;
    }
    .exticons{
        margin: auto 0px;
        font-size: 1.5em;
    }
    .extbids{
        font-size: 1.3em;
        margin: auto 0px;
    }
    .extprofilevisit{
        margin: auto 0px;
    }
    .extbidnotify{
        display: block;
        font-weight: bold;
        width: fit-content;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }
}